*{margin:0;padding:0}
ol,ul{list-style:none}a{text-decoration:none}
footer.bt3{
    width:700px;
    padding:20px;
    background:#111
}
footer.bt3 h2{
    margin-bottom:20px;
    padding-bottom:20px;
    color: #fff;
    border-bottom:1px solid #666
}
footer.bt3 a,footer.bt3 p{
    color:#666
}
footer.bt3 ul li{
    margin-bottom:10px
}
footer.bt3 .about{
    width:60%;margin-right:20px
}
footer.bt3 .links{
    width:40%
}
section{
    margin-top:30px;text-align:center
}
.body{
    display:flex;justify-content:center
}
.flex{
    display:flex
}
.j-between{justify-content:space-between
}
